// app global css in SCSS form
$font-sizes: (
  font10: 10px,
  font12: 12px,
  font16: 16px,
  font18: 18px,
  font20: 20px,
  font24: 24px,
);

$font-weight: (
  w400: 400,
  w500: 500,
  w700: 700,
  wbold: bold,
);

.form_login_no_cuenta {
  font-size: map-get($font-sizes, font20);
  font-weight: map-get($font-weight, w400);
}
// SIZE FONT
p.label-input {
  margin: 8px 0px 0px 8px;
  font-weight: 400;
  line-height: 1.8;
}

.hint_input {
  color: $grey-13;
  font-size: map-get($font-sizes, font10);
}

.hint_email {
  color: $grey-13;
  font-size: map-get($font-sizes, font16);
}

.scroll::-webkit-scrollbar {
  width: 0.8em;
}

.scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  // border-radius: 500px;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: $grey-13;
  // border-radius: 500px;
}

.hide-number-arrows ::-webkit-inner-spin-button,
.hide-number-arrows ::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.bg-new-dark {
  background-color: #010a0f;
  color: #fff;
}

.bg-header-dark {
  background-color: #001e28;
  color: #fff;
}

.bg-table {
  background-color: #00141e;
  color: #fff;
}
