// app global css in SCSS form
$font-sizes: (
  font10: 10px,
  font12: 12px,
  font16: 16px,
  font18: 18px,
  font20: 20px,
  font24: 24px,
);

$font-weight: (
  w400: 400,
  w500: 500,
  w700: 700,
  wbold: bold,
);

.padding-container {
  padding: 5% 10%;
}

.no-ancla {
  text-decoration: none;
}

.text-tittle {
  color: #5c00be;
  font-weight: 700;
  font-size: 3rem;
  line-height: normal;
}

.subtittle-black {
  color: #000;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 2.5rem;
}

.bg-all-section {
  background-color: #010a0f;
  color: #fff;
  height: 100vh;
  width: 100vw;
  position: fixed;
  overflow-y: auto;

  &::-webkit-scrollbar {
    height: 8px;
    width: 8px;
    background: transparent;
    z-index: 12;
    overflow: visible;
    cursor: pointer;
  }

  &::-webkit-scrollbar-track {
    border-radius: 0px;
  }

  &::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: $secondary;
    border-radius: 10px;
    z-index: 12;
    transition: background-color 0.32s ease-in-out;
    min-height: 32px;
    min-width: 32px;
  }
}

.body--light {
  .bg-all-section {
    background-color: #ebe9e9;
    color: #222;
    height: 100vh;
    width: 100vw;
    position: fixed;
    overflow-y: auto;

    &::-webkit-scrollbar {
      height: 8px;
      width: 8px;
      background: transparent;
      z-index: 12;
      overflow: visible;
      cursor: pointer;
    }

    &::-webkit-scrollbar-track {
      border-radius: 0px;
    }

    &::-webkit-scrollbar-thumb {
      width: 10px;
      background-color: $secondary;
      border-radius: 10px;
      z-index: 12;
      transition: background-color 0.32s ease-in-out;
      min-height: 32px;
      min-width: 32px;
    }
  }

  .bg-menu {
    background-color: #f0f0f0;
    color: #222;
  }

  .bg-header-dark {
    background-color: #f0f0f0;
    color: #222;
  }
  .bg-new-dark {
    background-color: #d8d9da;
    color: #222;
  }

  .bg-table {
    background-color: #ebe9e9;
    color: #222;
  }
}

.body--dark {
  .bg-menu {
    background-color: #010a0f;
    color: #fff;
  }

  .bg-header-dark {
    background-color: #001e28;
    color: #fff;
  }

  .bg-new-dark {
    background-color: #010a0f;
    color: #fff;
  }

  .bg-table {
    background-color: #00141e;
    color: #fff;
  }
}

.form_login_no_cuenta {
  font-size: map-get($font-sizes, font20);
  font-weight: map-get($font-weight, w400);
}
// SIZE FONT
p.label-input {
  margin: 8px 0px 0px 8px;
  font-weight: 400;
  line-height: 1.8;
}

.hint_input {
  color: $grey-13;
  font-size: map-get($font-sizes, font10);
}

.hint_email {
  color: $grey-13;
  font-size: map-get($font-sizes, font16);
}

.scroll::-webkit-scrollbar {
  width: 0.8em;
}

.scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  // border-radius: 500px;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: $grey-13;
  // border-radius: 500px;
}

.hide-number-arrows ::-webkit-inner-spin-button,
.hide-number-arrows ::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.bg-new-dark {
  background-color: #010a0f;
  color: #fff;
}

.bg-header-dark {
  background-color: #001e28;
  color: #fff;
}

.bg-table {
  background-color: #00141e;
  color: #fff;
}

.q-stepper__title {
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.1px;
}

.q-stepper__dot {
  width: 3rem !important;
  height: 2.9rem !important;
  border-radius: 50%;

  span > i {
    font-size: 1rem;
  }
}
// .q-focus-helper,
// .q-focusable,
// .q-manual-focusable,
// .q-hoverable {
//   outline: 0;
//   border-radius: 8px;
// }

.q-stepper--vertical .q-stepper__step-inner {
  padding: 0 24px 32px 18%;
}

.q-stepper--vertical .q-stepper__tab {
  padding: 12px 24px;
  margin: 2.5rem 0;
}

.shield-plan {
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

  &:hover {
    animation: pulse 1.2s infinite;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.05);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
